$myshadow:0px 4px 5px 0px rgba(0,0,0,0.25);
$primaryColor:#EB4D4B;
$darkColor:#898989;
$fontSizeSmall__XL:14px;
$fontSizeSmall__SM:10px;
$smallMargin:15px;
$marginContent:30px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
}
.title {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: $primaryColor;
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    animation: up 2s;
    .brand-title {
        margin-top:30px ;
        img {
            width: 150px;
        }
    }
}
form {
    .container__input {
        margin-top:$marginContent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-wrapper .lupaBelum {
        margin-top: $smallMargin;
        display: flex;
        justify-content: space-between;
        a {
            font-size:14px;
            color: $darkColor;
        }
    }
}


// MEDIA QUARIES
@media screen and (max-width:767px) {
    .title .brand-title img {
        width: 150px;
    }
    form  .input-wrapper  .link-wrapper  a{
        font-size: 14px;
    }
    input[type=text], input[type=number] {
        width: 320px!important;
    }
    h2 {
        font-size: 22px;
    }
}


// ========== Frozen Spot =============
// Key Frames 
@keyframes up {
    from {
        height: 200vh;
    }
    to {
        height: 200px;
    }
}

// SPAWN INPUT
.form-control:focus {
    border-color: $primaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset, 0 0 4px $primaryColor;
    outline: 0 none;
}     
input {
    font-size: 14px!important;
    transition: 0.2s;
    border-radius:30px!important;
    height: 50px!important;
    margin-top: $smallMargin;
    border: none!important;
}
input[type=submit] {
    transition: 0.2s;
    color: white;
}
input[type=submit]:hover {
    transform: translateY(-5px);
    box-shadow: $myshadow;
}
input[type=text], input[type=number] {
    width: 392px;
}
input::placeholder {
    font-size: 14px;
}
.next, .kirim {
    background: linear-gradient(90deg, rgba(235,77,75,1) 1%, rgba(255,65,108,1) 72%);
}
.back {
    background: linear-gradient(90deg, rgba(98,18,17,1) 0%, rgba(235,77,75,1) 100%);
}
h2 {
    font-size: 30px;
    letter-spacing: 2px;
}
h6 {
    font-size: 14px;
    color: $darkColor;
}